<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Свідок</title>

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css"/>
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <script src="/static/js/babel-core-5.8.25.js"></script>
  <script src="/static/js/react.js"></script>
  <script src="/static/js/react-dom.js"></script>

</head>


<body>

  
  <div id="app"></div>

  {% block extra_js %} {% endblock extra_js %}

</body>
</html>
