<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>Свідок</title>

  <link rel="stylesheet" href="/static/css/bootstrap.css">
  <link rel="stylesheet" href="/static/css/app.css"/>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>

  <script src="static/js/babel-core-5.8.25.js"></script>
  <script src="static/js/react.js"></script>
  <script src="static/js/react-dom.js"></script>

</head>


<body>

  {# <div id="map">Map</div> #}
  <div class="container-fluid">

    {% block index %} {% endblock %}

  </div>

  <script src="/static/js/app.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsnTEVL9PrzI012QJCydGELDTUBWd2ry4&callback=initMap" async defer></script>


</body>
</html>
